@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100px;
    background-color: #fafafa;
}

ion-icon {
    width: 20px;
    height: 20px;
}

video {
    width: 100%;
}

.top {
    width: 100%;
    height: 54px;
    border-bottom: solid 1px #DBDBDB;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.divider {
    width: 1px;
    height: 29px;
    margin: 0 10px;
    background-color: #DBDBDB;
}

.search-input {
    width: 215px;
    height: 28px;
    box-sizing: border-box;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background-color: #FAFAFA;

    text-align: center;
}

.nav-bar {
    display: flex;
    justify-items: center;
}

.nav-bar ion-icon {
    display: flex;
    margin-left: 25px;
}

.container {
    display: flex;
    width: 935px;
    margin: 0px auto;
    padding-bottom: 50px;
}

.stories-bar {
    display: flex;
    align-items: center;
    width: 614px;
    height: 118px;
    overflow-x: hidden;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
}

.story-profile {
    display: flex;
    flex-direction: column;
    width: 66px;
    margin-left: 15px;
}

.background-profile-picture {
    display: flex;
    width: 66px;
    height: 66px;
    background-image: url(images/stories_background.jpg);
    background-size: cover;
}

.profile-picture {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

.user-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

    color: #262626;

    margin-top: 3px;
}

.scroll-button {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 575px;
    color: white;
}

.publication {
    width: 614px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.publication-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 17px;
}

.profile {
    display: flex;
    align-items: center;
}

.publication-header .profile-picture {
    width: 32px;
    height: 32px;
}

.time-line .user-name, .likes, .side-bar .user-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 0;
    margin-left: 8px;
}

.likes span, .side-bar span {
    font-weight: 300;
}

.side-bar span {
    margin-left: 8px;
}

.publication-main img {
    width: 100%;
}

.publication-footer {
    margin: 12px 17px;
}

.actions-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.actions-bar ion-icon {
    margin-right: 18px;
}

.publication-footer .profile {
    display: flex;
    width: fit-content;
}

.publication-footer .profile-picture {
    width: 20px;
    height: 20px;
}

.side-bar {
    width: 293px;
    margin-left: auto;
}
.side-bar header {
    display: flex;
    width: fit-content;
    align-items: center;
}

.side-bar-main > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.side-bar .profile {
    display: flex;
    align-items: center;
}